.about {
    padding-top: 30px;
    text-align: center;

    &__title {
        font-size: 30px;
    }

    &__descr {
        font-size: 20px;
        font-weight: inherit;
        line-height: 1.5;
        color: #212529;
    }
}

.ourProducts {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.ourProduct {
    border: 1px solid #212529;
    border-radius: 6px;

    &__image {
        width: 300px;
    }

    &__title {
        font-size: 25px;
    }
}