.headerImg {
    height: 700px;
    background-image: url("../../assets/img/main.png.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    color: white;
    padding-top: 300px;
    height: 1200px;

    &__title {
        font-size: 40px;
        font-weight: 100 !important;
        line-height: 1.2;
        margin: 0 0 10px 0;
    }
    &__descr {
        font-size: 20px;
        margin: 0;
    }
}